{include file="public/header"}
<body>
	<div class="container">
		<div class="sub-banner-box">
			<div class="sub-banner">
				<img src="_FRONTPIC_/contact-img.jpg" alt="联系亿升财富">
			</div>
		</div>

		<div class="contact-title">
			<h1>联系我们</h1>
		</div>
		<div class="contact-box">
			<h2>深圳亿升金融服务有限公司</h2>
			<p><i class="icon-tel"></i>联系电话：400-661-1313</p>
			<p><i class="icon-email"></i>企业邮箱：kf@ysemm.com</p>
			<p><i class="icon-link"></i>企业网址：http://www.ysemm.cn</p>
			<p><i class="icon-addr"></i>注册地址：深圳市前海深港合作区前湾一路1号A栋201室</p>

			<h2>常德运营中心</h2>
			<p><i class="icon-tel"></i>客服电话：0736-7226000</p>
			<p><i class="icon-ask"></i>融资咨询：0736-7216000</p>
			<p><i class="icon-man"></i>区域代理：0736-7777881</p>
			<p><i class="icon-money"></i>资金合作：188-7360-0000&nbsp;&nbsp;&nbsp;高经理&nbsp;&nbsp;&nbsp;gaoge@ysemm.com</p>
			<p><i class="icon-addr"></i>公司地址：常德市武陵区洞庭大道368号浙商广场B座16楼</p>
		</div>
	</div>
</body>
{include file="public/footer"}

