<!--_meta 作为公共模版分离出去-->
{include file="public/meta"}
<!--/meta 作为公共模版分离出去-->

<title>产品分类</title>
<link rel="stylesheet" href="_ADMINLIB_/zTree/v3/css/zTreeStyle/zTreeStyle.css" type="text/css">
</head>
<body>
<!--_header 作为公共模版分离出去-->
{include file="public/header"}
<!--/_header 作为公共模版分离出去-->

<!--_menu 作为公共模版分离出去-->
{include file="public/menu"}
<!--/_menu 作为公共模版分离出去-->

<section class="my-article-box">
	<nav class="breadcrumb"><i class="my-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 文章分类 <span class="c-gray en">&gt;</span> 添加分类 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="my-iconfont">&#xe68f;</i></a></nav>
	<div class="my-article">
		<article class="cl pd-20">
			<table class="table">
				<tr>
					<td width="200" class="va-t"><ul id="treeDemo" class="ztree"></ul></td>
					<td class="va-t"><iframe ID="testIframe" Name="testIframe" FRAMEBORDER=0 SCROLLING=NO width=100% style="overflow: hidden" height=390px SRC="{:url('addform')}"></iframe></td>
				</tr>
			</table>
		</article>
	</div>
</section>
<!--_footer 作为公共模版分离出去-->
{include file="public/footer"}
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="_ADMINLIB_/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="_ADMINLIB_/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="_ADMINLIB_/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="_ADMINLIB_/zTree/v3/js/jquery.ztree.all-3.5.min.js"></script>
<script type="text/javascript">
var setting = {
	view: {
		dblClickExpand: false,
		showLine: false,
		selectedMulti: false
	},
	data: {
		simpleData: {
			enable:true,
			idKey: "id",
			pIdKey: "pId",
			rootPId: ""
		}
	},
	callback: {
		beforeClick: function(treeId, treeNode) {
			var zTree = $.fn.zTree.getZTreeObj("tree");
            if (treeNode.isParent) {
				zTree.expandNode(treeNode);
				return false;
			} else {
                return true;
            }
		}
	},
	onClick:function (nodeName) {
	    $("#tname").attr("value",nodeName);
    }

};


var zNodes = [
    {id:0, pId:'-1', name:"根分类", open:true},
{foreach $allTypes as $key=>$type}


{id:{$type.id}, pId:{$type.parentId}, name:"{$type.tname}"},

{/foreach}
	]


var code;

function showCode(str) {
	if (!code) code = $("#code");
	code.empty();
	code.append("<li>"+str+"</li>");
}

$(function(){
	var t = $("#treeDemo");
	t = $.fn.zTree.init(t, setting, zNodes);
	demoIframe = $("#testIframe");
	demoIframe.bind("load", "loadReady");
	var zTree = $.fn.zTree.getZTreeObj("treeDemo");
	zTree.selectNode(zTree.getNodeByParam("id",'0'));
});
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>