<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>当前操作：分类管理</div>
<table>
    <tr>
        <th>分类id</th>
        <th>分类名称</th>
        <th>操作</th>
    </tr>
    {foreach $allTypes as $key=>$typeItem}
    <tr>
    <td>{$typeItem.id}</td>
    <td>{:str_repeat('----',$typeItem.level)}{$typeItem.tname}</td>
    <td><a href="{:url('Type/getUpdate','id='.$typeItem.id)}">[修改]</a>&nbsp;<a href="{:url('Type/delete','id='.$typeItem.id)}">[删除]</a></td>
    </tr>
    {/foreach}
</table>
</body>
</html>