<script type="text/javascript" src="_ADMINLIB_/layer/2.4/layer.js"></script>
<script type="text/javascript" src="_ADMINLIB_/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="_ADMINLIB_/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="_ADMINLIB_/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="_ADMINJS_/H-ui.js"></script>
<script type="text/javascript" src="_ADMINJS_/H-ui.admin.page.js"></script> 
