<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<div id="ajax">
{include file="public/header"}
    <div class="sub-banner-box">
        <div class="sub-banner">
            <img src="_FRONTPIC_/list-img.jpg" alt="行业新闻">
        </div>
    </div>
    <div class="sub-title">
        <img src="_FRONTPIC_/list-title-img.jpg" alt="行业新闻标题">
    </div>

    <div class="sub-class-bg">
        <div class="sub-class">

            <a href="/news/companynotices/">公司公告</a> <span>|</span>

            <a href="/news/companynews/">公司新闻</a> <span>|</span>

            <a href="/news/industryinformations/">行业资讯</a> <span>|</span>

        </div>
    </div>
{include file="news/newslist"}
{include file="public/footer"}
</div>
</html>