<!DOCTYPE html>
<html>
{include file="public/header"}
    <div class="sub-banner-box">
      <div class="sub-banner">
       <img src="_FRONTPIC_/list-img.jpg">
     </div>
   </div>
   <div class="sub-title">
     <img src="_FRONTPIC_/list-title-img.jpg">
   </div>

   <div class="sub-class-bg">
    <div class="sub-class">
      
      <a href="/news/companynotices/">公司公告</a> <span>|</span>
      
      <a href="/news/companynews/">公司新闻</a> <span>|</span>
      
      <a href="/news/industryinformations/">行业资讯</a> <span>|</span>
    </div>
  </div>

  <div class="news-box">
    <div class="view">
      <h1>{$title}</h1>
      <p class="date">发布时间：{$pubtime|date="Y-m-d H:i",###}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;来源：{$source} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;编辑：{$adminName}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;浏览次数：{$clickNum}次</p>
    </div>
    <div class="pagebox">
      {$content}
    </div>  
    <div class="page">
        <p>上一篇：{if $preNewsId}<a href="{:url('News/view','id='.$preNewsId)}">{/if}{$preNewsTitle}</a> </p>
        <p>下一篇：{if $nextNewsId}<a href="{:url('News/view','id='.$nextNewsId)}">{/if}{$nextNewsTitle}</a> </p>
      <a href="#" onclick="javascript:history.go(-1);" class="back">[返回列表]</a>
    </div>
  </div>
</div>
{if $cancomment}
<hr style="filter: alpha(opacity=100,finishopacity = 0,style=1)" width="75%" color=#987cb9 size=3>
{include file="news/comment"}
{/if}
  {include file="public/footer"}
<script type="text/javascript" src="_COMMON_/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="_COMMON_/bootstrap/bootstrap.min.js"></script>
<script src="_FRONTLOGINJS_/layui.all.js"></script>
<script type="text/javascript">
    function formatDate(timestamp) {
        //Date()方法参数的单位是毫秒；
        var d = new Date(1000*timestamp);
        var year = d.getFullYear(),
            month = d.getMonth() + 1,
            date = d.getDate(),
            hour = d.getHours(),
            minute = d.getMinutes(),
            second = d.getSeconds();
        return year + "-" + month + "-" + date + " " + hour + ":" + minute + ":" + second;
    }

    function addCommentInfo(obj){
        var str = "<div class='comment-info'><header><img src='"+obj.commentUserAvatar+"'></header><div class='comment-right'><h3>"+obj.commentUser+"</h3>"
            +"<div class='comment-content-header'><span><i class='glyphicon glyphicon-time'></i>"+formatDate(Number(obj.publishtime))+"</span><span><i class='glyphicon glyphicon-map-marker'></i>"
            +obj.userip+"</span></div><p class='content'>"+obj.content+"</p><div class='comment-content-footer'><div class='row'><div class='col-md-10'><span><i class='glyphicon glyphicon-pushpin'></i> 来自:"+obj.osname+"</span><span><i class='glyphicon glyphicon-globe'></i> "+obj.browser+"</span></div></div></div>";
        $(".comment-list").append(str);
    }

    $(function(){
        $("#comment").click(function(){
            $.ajax({
                'url':"{:url('news/addComment')}",
                'type':'post',
                'data':{"content":$("#content").val(),"articleid":$("#articleId").val()},
                'success':function (response) {
                    if(response==='0'){
                        layer.open({
                            type: 2,
                            title: '登录与注册',
                            maxmin: true,
                            skin: 'layui-layer-lan',
                            shadeClose: true, //点击遮罩关闭层
                            area: ['501px', '585px'],
                            content: ["{:url('login/login_reg')}",'no'],//弹框显示的url
                            scrollbar: false
                        });
                    }
                    else if(response==='error'){
                        alert('发表评论失败！');
                    }else{
                        var responseObj = $.parseJSON(response);
                        addCommentInfo(responseObj);
                    }
                }
            });
        });
    })
</script>
</body>
</html>
