{include file="public/header"}
<body>
	<div class="container">
		<div class="sub-banner-box">
		    <div class="sub-banner">
		            	        <img src="_FRONTPIC_/about-img.jpg" alt="亿升财富">
		            </div>
		</div>

		<div class="aboutus-box">
			<div class="aboutus-title"><img src="_FRONTPIC_/about-title.jpg" alt="亿升财富关于我们"></div>
			<div class="aboutus-content">
				<div class="aboutus-text">
					<p>深圳亿升金融服务有限公司作为国内知名金融信息咨询服务机构，其公司汇集了银行、证券、基金、信托等业界精英，深度钻研于各金融领域。 贯彻和落实国家和地方政府相关政策与制度，发挥专业机构优势，促进城市发展与金融的高度融合。</p>
					<p>我们与多家银行、证券、信托等金融机建立长期战略合作，为项目开发商、平台机构（城投、交投、旅游投等）成功推荐引资；同时我们还与民营资本、大型央企达成合作，针对城市基础建设、轨道交通、城市供水及污水处理、垃圾处理、医院等项目进行PPP、BT、BOT...投资、建设、运营。</p>
					<p>金融产品繁多且更新较快，甚至还有很多政策性扶持资金您很少去关注，我们从专业的角度为您推荐最适合您的融资服务。</p>
				</div>
				<div class="aboutus-img">
					<img src="_FRONTPIC_/about-content.jpg" alt="亿升财富环境图片">
				</div>
			</div>
			
		</div>
	</div>
</body>
{include file="public/footer"}