{include file="public/meta"}

<title>修改密码 - 会员管理 </title>
<meta name="keywords" content="">
<meta name="description" content="">
</head>
<body>
<article class="cl pd-20">
	<form action="{:url('user/savechangepwd')}" method="post" class="form form-horizontal" id="form-change-password">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>账户：</label>
			<div class="formControls col-xs-8 col-sm-9">{$username}</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>新密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" autocomplete="off" placeholder="不修改请留空" name="password" id="newpassword">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" autocomplete="off" placeholder="不修改请留空" name="confirm" id="new-password2">
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;保存&nbsp;&nbsp;">
			</div>
		</div>
		<input type="hidden" name="id" value="{$id}">
	</form>
</article>

{include file="public/footer"}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="_ADMINLIB_/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="_ADMINLIB_/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="_ADMINLIB_/jquery.validation/1.14.0/messages_zh.js"></script> 
<script type="text/javascript">
$(function(){
	$("#form-change-password").validate({
		rules:{
            password:{
                minlength:6,
                maxlength:16
            },
			confirm:{
				minlength:6,
				maxlength:16,
				equalTo: password
			}
		},
        onkeyup:false,
        focusCleanup:true,
        success:"valid",
        submitHandler:function(form) {
            $(form).ajaxSubmit();
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
            parent.refresh.click();

        }
	});
});
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>