<div class="footer">
        <div class="show-rz">
            <p style="text-align:center;">
                <a id="_pingansec_bottomimagelarge_p2p" href="http://si.trustutn.org/info?sn=321170316000571380559&certType=4"><img class="zqrz" src="_FRONTPIC_/p2p_bottom_large_img.jpg"/></a>
                <a  style="text-align:center;" href="http://webscan.360.cn/index/checkwebsite/url/www.ysemm.cn"><img border="0" src="_FRONTPIC_/360jiance.png"/></a>
            </p>
        </div>
        <p>Copyright © 2015 - 2017 Ysemm. All Rights Reserved</p>
        <p>
            <a href="#" target="_blank" rel="nofollow">备案号：粤ICP备15071992号-1  更多模板：<a href="http://www.mycodes.net/" target="_blank">源码之家</a></a>
        </p>
</div>


